body{
    background-color: black;
    color: white;
}

header{
    text-align: center;
}

.btnBlock{
    display: flex;
    justify-content: center;

}
.btnBlock .btn{
    border:2px solid white;
    border-radius: 30px;
    background-color: black;
    color:white;
    font-size: 20 px;
    padding: 60 px;
    margin: 50px;

}